!!! 5
%html
	%head
		%title Markleter
		%link{:rel => :stylesheet, :href => 'css/main.css', :type => 'text/css'}	
	%body
		%h1 Markleter
		%div To make a new bookmarklet and share it, use the form below.
		%form{:action=>'markletize', :method=>:post}
			- errors(marklet)
			%dl
				%dt
					%label{:for=>:name} Name:
				%dd
					%input{:name=>:name, :value=>marklet.name}
				%dt
					%label{:for=>:source} Source:
				%dd
					%textarea{:name=>:source, :value=>marklet.source}
				%dt
					%label{:for=>:library} Library:
				%dd
					%select{:name=>:library}
						%option{:value=>'none'} None
						%option{:value=>'jquery'} jQuery (Latest)
			%p
				%strong Note:
				This website uses the JSMin library to generate the bookmarklet output; semicolons are required.
			%button{:type=>:submit} Submit	
