!!! 5
%html
	%head
		%title Markleter
	%body
		%h1 Welcome to Markleter!
		%div To make a new bookmarklet and share it, use the form below:
		%form{:action=>'markletize', :method=>:post}
			%dl
				%dt
					%label{:for=>:name} Name:
				%dd
					%input{:name=>:name}
				%dt
					%label{:for=>:source} Source:
				%dd
					%textarea{:name=>:source}
				%dt
					%label{:for=>:library} Library:
				%dd
					%select{:name=>:library}
						%option{:value=>'none'} None
						%option{:value=>'jquery'} jQuery
			%button{:type=>:submit} Submit!	
