!!! 5
%html
	%head
		%title Your marklet
	%body
		%h1 Your marklet
		%p Original source:
		%pre= marklet.source
		%p To copy and paste:
		%textarea= marklet.marklet
		%p To bookmark:
		%a{:href => marklet.marklet}=marklet.name
