!!! 5
%html
	%head
		%title Markleter
	%body
		%h1 Markleter
		%a{:href => marklet.marklet}=marklet.name
		%p Source:
		~ CodeRay.scan(marklet.source, :javascript).div(:css => :class)
		%p Copy and Paste:
		%textarea= marklet.marklet
