!!! 5
%html
	%head
		%title Here's your marklet!
	%body
		%h1 Here's your marklet
		%p If you need to copy and paste the code you'll find that below:
		%textarea= marklet
		%p and if you need a link that's below:
		%a{:href => marklet}=name
