!!! 5
%html
	%head
		%title Markleter - #{marklet.name}
		%link{:rel => :stylesheet, :href => 'css/main.css', :type => 'text/css'}
		%link{:rel => :stylesheet, :href => 'css/syntax_highlighting.css', :type => 'text/css'}
	%body
		%h1 Markleter
		%a{:href => marklet.marklet}=marklet.name
		%p Source:
		!= find_and_preserve marklet.source
		%p Copy and Paste:
		%textarea= marklet.marklet
