!!! 5
%html
	%head
		%title #{marklet.name} - Markleter
		%link{:rel => :stylesheet, :href => 'css/main.css', :type => 'text/css'}
		%link{:rel => :stylesheet, :href => 'css/syntax_highlighting.css', :type => 'text/css'}
	%body
		%h1
			%a{:href => bookmarklet}=marklet.name
		%p Source:
		!~ marklet.source
		%p Copy and Paste:
		%textarea= bookmarklet 
		%p Share:
		%p
			%a{:href => request.url} Link
