html {
	font-size: 0.9em;
	font-family: Helvetica, Arial, sans-serif;
}

textarea {
	width: 35em;
	height: 15em;
}

input, textarea, select {
	border: thin solid black;
}

input {
	margin-left: 0.6em;
}

form dl {
	overflow: hidden;
}

form dl dt {
	float: left;
	clear: left;
}

form dl dt label {
	margin-right: 1em;
}

form dl dd {
	float: left;
	margin-bottom: 1em;
}
